.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-image: url("theater.png");
  height: 300px;
  background-position: center;
  color: white;
}

.maintext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}